*.DS_Store
/OptionalDependencies/*
/old/*
/ingest_data/*
*.aux
/Users/jovo/Research/Projects/Jovo/LOL/Data/Raw/CIFAR-100/cifar-100-matlab.tar.gz 
*.blg
*.brf
*.fls
*.fdb*
*.log
*.synctex*
*.fls
*.tmp
*.out
*.m~
